/* html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} */


body{
    
    margin: 0px;
    padding: 0px;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #srDiv{
    height: 40px;
    padding: 10px;
  }
.display-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.padding-10-20{
    padding: 10px 20px;
}
.border-radius-100{
    border-radius:100px;
}
.padding-left-50{
    padding-left: 50px;
}
.z-index-2{
    z-index: 2;
}
.justify-content-space-bet{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.postion-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.position-fixed{
    position: fixed;
}
.background-white{
    background-color: white;
}
.padding-8{
    padding: 8px;
}
.border-radius{
    border-radius: 50%;
}
.margin-right{
    margin-right: 7%;
}